/* esse estilo eu nao usei pq eu fiz um meu ja, mas o professor fez esse*/
.formulario{
    border: 2px solid black;

}
body{

    background-color: rgb(230, 230, 230);
}
#divtabela{
    background-color: white; 
  
}